<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RatingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RatingApp.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="wrap d-flex justify-content-center overflow-hidden">
        <div class=" ms-1 ">
            <a href="http://localhost:3000" class="btn btn-outline-light text-black border-dark" text="dark" >Back to chat</a>
        </div>
        
        <div role="main" class="mx-auto">
            @RenderBody()
        </div>
        <div class="me-1 invisible">Back to chat</div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
