@using RatingApp.Controllers

@model List<User>

@{
    ViewData["Title"] = "Index";
}

<h1>Rating Page</h1>

<form asp-action="Search">
    <input name="query"/>
    <input type="submit" value="Search"/>
</form>

<p>
    <a class="btn btn-light" asp-action="Index">Go back to home</a>
</p>

<table class="table table-hover col-8">
    <thead>
        <tr>
            
            <th>
                Rating
            </th>
            <th>
                Name
            </th>
            <th>
                Opinion
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.Opinion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
        </tr>
}
    </tbody>
</table>

